*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
:root {
  --black: #000000;
  --white: #ffffff;
  --red: #ed1c24;
  --green: #28a745;
  --grey: rgb(255 255 255 / 70%);
  --light-grey: rgba(255, 255, 255, 0.7);
  --background-color:rgba(255, 255, 255, 0.06);
  --green:#28a745;
  --grey-2:#525252;
}
body{
    background-color: var(--black); 
    color: var(--white);
    
}
@font-face {
    font-family: inter;
    src: url(assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}
@font-face {
    font-family: appercu;
    src: url(assets/fonts/Apercu-Font/Apercu\ medium.otf);
}
@font-face {
    font-family: futurak;
    src: url(assets/fonts/Futurak/futurak.ttf);
}
@font-face {
    font-family: butler;
    src: url(assets/fonts/butler-font/Butler_Stencil/Butler_Medium_Stencil.otf);
}
@font-face {
    font-family: poppins;
    src: url(assets/fonts/poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: futura;
    src: url(assets/fonts/futura-black/Futura\ Black.ttf);
}
/* navbar started */
.nav-items > a{
text-decoration: none;
color: var(--white);
font-size: 1.7rem;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0px;
    font-family: inter;
    
}
.nav-items > button{
    font-size: 1.6rem;
    cursor: pointer;
}
.nav-items{
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.franchise-btn{
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
    border-radius: 30px;
    padding: 10px 15px;
}
.order-btn{
    background-color: var(--red);
    color: var(--white);
    border: none;
    border-radius: 30px;
    padding: 12px 17px;
}
.order-icon{
    background-color: var(--white);
    color: var(--red);
    padding: 5px 5px;
    border-radius: 25px;
}
/* navbar ended */


   /* book Image started */
   .book-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap:20px;
    flex-wrap: wrap;
padding: 50px;
  
   }
   .book-childeren{
    border: 1px solid var(--grey-2) ;
    
   }
   /* book Image ended*/



/* branches started */
.branches-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 60px;
}
.branches-childeren{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
}
.branches-childeren > h3{
    font-family: butler;
    font-size: 3rem;
    font-weight: 100;
    text-align: center;
    padding-bottom: 5px;
}
.branches-childeren > span{
  
    font-size: 1.6rem;
    
    font-family: inter;
    text-align: center;
    padding: 10px;
    font-weight: 300;

}
.branches-childeren > p{
color: var(--grey);
padding: 10px;
font-size: 1.4rem;
font-family: appercu;


}



/* branches ended */

  /* footer started */
footer {
  background-color: var(--background-color);
  color:var(--white);
  padding: 50px 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: inter;
 
  
}



.site-links,
.contact-us {
  flex: 1 1 300px;
  margin: 20px;
}


.footer img {
  width: 140px;
  margin-bottom: 20px;
}


.footer p {
  font-size: 14px;
  line-height: 1.7;
  color: #ccc;
  margin-bottom: 15px;
  font-family: appercu;
}


.footer ul {
  list-style: none;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  color: #aaa;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}



.site-links {
  font-size: 1.6rem;
  color:var(--white);
}

.site-links ul {
  list-style: none;
  margin-top: 10px;
  font-family: appercu;
}

.site-links ul li {
  margin-bottom: 10px;
}

.site-links ul li a {
  color: #aaa;
  text-decoration: none;
  font-size: 1.4rem;
  
}



/* Contact Us Section */
.contact-us {
  font-size: 16px;
  color:var(--white);
  padding: 10px;
}

.contact-us >p {
font-family: appercu;
color:#ccc ;

}
.span-1{
    font-family: inter;
}
.contact-us ul,
.contact-us a {
  font-size: 14px;
  color: #ccc;
  line-height: 1.6;
}

.contact-us span {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px;
}

.contact-us ul {
  list-style: none;
  margin: 10px 0;
  font-family: appercu;
}

.contact-us li {
  margin-bottom: 6px;
}

.contact-us a {
  display: inline-block;
  margin: 8px 0;
  text-decoration: none;
  color: #aaa;
  
}

.contact-us h4{
    font-family:inter ;
}

.icons {
  margin-top: 20px;
  font-weight: bold;
  color:var(--white);
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  display: inline-block;
  margin-right: 12px;
  font-size: 20px;
  color:var(--white);
  background-color: var(--red);
  border-radius: 20px;
  padding:5px;

}




   /* footer ended */
