*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
:root {
  --black: #000000;
  --white: #ffffff;
  --red: #ed1c24;
  --green: #28a745;
  --grey: rgb(255 255 255 / 70%);
}
body{
    background-color: var(--black);
    
}
.nav-items > a{
text-align: center;
text-decoration: none;
color: var(--white);
font-size: 1.7rem;
}
.navbar{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    
}