*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
:root {
  --black: #000000;
  --white: #ffffff;
  --red: #ed1c24;
  --green: #28a745;
  --grey: rgb(255 255 255 / 70%);
  --light-grey: rgba(255, 255, 255, 0.7);
  --background-color:rgba(255, 255, 255, 0.06);
  --green:#28a745;
}
body{
    background-color: var(--black); 
    color: var(--white);
    
}
@font-face {
    font-family: inter;
    src: url(assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}
@font-face {
    font-family: appercu;
    src: url(assets/fonts/Apercu-Font/Apercu\ medium.otf);
}
@font-face {
    font-family: futurak;
    src: url(assets/fonts/Futurak/futurak.ttf);
}
@font-face {
    font-family: butler;
    src: url(assets/fonts/butler/Butler/Butler_Regular.otf);
}
@font-face {
    font-family: poppins;
    src: url(assets/fonts/poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: futura;
    src: url(assets/fonts/futura-black/Futura\ Black.ttf);
}
.nav-items > a{
text-decoration: none;
color: var(--white);
font-size: 1.9rem;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0px;
    font-family: inter;
    
}
.nav-items > button{
    font-size: 1.6rem;
    cursor: pointer;
}
.nav-items{
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.franchise-btn{
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
    border-radius: 30px;
    padding: 10px 15px;
}
.order-btn{
    background-color: var(--red);
    color: var(--white);
    border: none;
    border-radius: 30px;
    padding: 12px 17px;
}
.order-icon{
    background-color: var(--red);
    color: var(--white);
    padding: 4px 5px;
    border-radius: 25px;
}
/* <!-- Welocme to Salt n Pepper started --> */
.welcome{
    margin: 50px;
    font-family: appercu;
}
.welcome > h2{
    font-family: appercu;
font-size: 3.3rem;
text-align: center;
font-weight: 300;
}
.welcome > p{
    padding: 20px 0px;
    font-size: 1.7rem;
    color: var(--light-grey);
    text-align: center;
}
.font-futurak{
    font-family: futurak;
    font-size: 4.5rem;
}
.brands-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.brands-image{
    background-color: var(--white);
    padding: 10px;
    border-radius: 5px;
}
.brands-childeren{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    align-items: center;

}
.brands-btn{
    background-color: transparent;
    color: var(--white);
    border:1px solid rgba(255, 255, 255, 0.3);
    padding: 20px 45px;
    border-radius: 50px;
    font-size: 1.7rem;
    margin: auto;
    margin-top: 24px;
    cursor: pointer;
}
/* <!-- Welocme to Salt n Pepper ended --> */

/* <!-- Restaurant Franchises started --> */
.restaurant-franchises{
    margin: 60px;
}
.restaurant-franchises > h2{
    font-size: 3.3rem;
text-align: center;
font-weight: 300;
font-family: butler;
}
.restaurant-franchises > p{
    font-family: appercu;
     padding: 20px 0px;
    font-size: 1.7rem;
    color: var(--light-grey);
    text-align: center;
}
.restaurant-franchises-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
   background: rgba(255, 255, 255, 0.06);
   padding: 70px;
  
}
.restauran-franchises-childeren{
display: flex;
align-items: center;
justify-content: center;
gap: 35px;
flex-direction: row;
}
.small-text{
    text-transform: uppercase;
    font-size: 1.5rem;
    color: var(--red);
    letter-spacing: 0.48em;
    font-family: appercu;
    font-weight: 400px;
    margin: 8px 0px;
}
.main-text > h3{
    font-size: 2.6rem;
    font-family: appercu;
    font-weight: 200;
}
.main-text > p{
color: var(--light-grey);
margin-top: 20px;
font-size: 1.8rem;
margin-bottom: 10px;
}
.restauran-franchises-btn{
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);;
    color: var(--white);
    padding: 20px 25px;
    border-radius: 50px;
    width: 174px;
    height: 50px;
    font-family: poppins;
    cursor: pointer;
    
    
}

.franchise-btn-icon{
    background-color: var(--white);
    color: var(--red);
    border-radius: 50px;
    padding: 3px;
    
}


/* <!-- Restaurant Franchises ended --> 


/* express franchises started */
.express-franchises{
    background-color: var(--background-color);

}
.express-franchises > h2{
    font-size: 5rem;
    text-align: center;
}
.express-franchises-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    text-align: center;
    padding: 20px 15px;
}
.express-franchises > img{
    height: 250px;
   
}
.small-text-2{
    text-transform: uppercase;
    font-size: 1.2rem;
    color: var(--red);
    letter-spacing: 0.60em;
    font-family: appercu;
    font-weight: lighter;
    

    
    
}
.head-3{
    font-family: futurak;
    font-size: 2.4rem;
    padding: 20px 4px;

}
.express-franchises-childeren > p{
    color: var(--light-grey);
    padding: 15px;
}
.exp-franchise-btn{
    background-color: transparent;
    color: var(--white);
    border: 1px solid rgba(255, 255, 255, 0.3);;
    width: 174px;
    height: 50px;
    font-family: poppins;
    font-size: 1.3rem;
    font-weight: 100px;
    padding: 10px 0px;
    border-radius: 50px;
    cursor: pointer;
}
.exp-btn-icon{
      background-color: var(--white);
    color:var(--red);
    width: 27px;
    height: 27px;
    padding: 6px 8px;
    border-radius: 25px;
    margin-left: 10px;
}
.express-franchises-childeren > h3{
    font-size: 2rem;
    font-family: inter;
    font-weight: 500;
}
.express-franchises-childeren > p{
    font-size: 1.4rem;
    font-family: appercu;
}
.express-franchises-container-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    text-align: center;
    padding: 20px 15px;
    background-color: var(--background-color);
}
.express-franchises-container-3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    text-align: center;
    padding: 20px 15px;
    background-color: var(--background-color);
}


   /* <!-- Village Franchise started --> */
.village-franchises-container{

   background:var(--background-color);
   padding: 80px;
}
.village-franchises-childeren{
display: flex;
align-items: center;
justify-content: space-between;
gap: 40px;
flex-direction: row;
flex-wrap: wrap;
}
.main-text-1 > p{
color: var(--light-grey);
margin-top: 20px;
font-size: 1.4rem;
margin-bottom: 10px;
font-family: appercu;
/* text-align: center; */
margin-left: 20px;

}
.main-text-1 > h3{
    font-family: appercu;
    text-align: center;
    font-size: 2.6rem;
    font-weight: 100;

    

}
.village-franchise-btn{
     background-color: var(--green);
    border: 1px solid var(--green);
    color: var(--white);
    padding: 20px 25px;
    border-radius: 50px;
    width: 174px;
    height: 50px;
    font-family: appercu;
    cursor: pointer;
    margin-left: 20px;
    
}
.village-btn-icon{
      background-color: var(--white);
    color: var(--green);
    border-radius: 50px;
    padding: 3px;
    
}
.main-images-1{
    float: left;
}
.small-text-1{
     text-transform: uppercase;
    font-size: 1.6rem;
    color: var(--red);
    letter-spacing: 0.48em;
    font-family: appercu;
    font-weight: 400px;
    margin: 8px 0px;
margin-left: 20px ;
}
   /* <!-- Village Franchise ended --> */

   /* location card started */
   .location-cards{
    padding: 50px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px; 
    flex-direction: row;
   }
   .location-cards > h2{
    font-size: 2.4rem;
    font-family: butler;
    font-weight: 400;
   }
   .location-cards > h2 span{
    font-size: 1.8rem;
   }
   .location-card{
    background-color: var(--white);
    color: var(--black);
    text-align: center;
    height: 230px;
    padding:25px 20px;
    
    border-radius: 4px;
    width: 270px;

   }
   .location-card > small{
     text-transform: uppercase;
    font-size: 1.1rem;
    color: var(--red);
    letter-spacing: 0.48em;
    font-family: appercu;
    margin-bottom: 8px;
    display: block;
    text-align: center;
    font-weight: bold;
    text-align: center
   }
   .location-card > img{
width: 40px;
height: 40px;
margin-bottom: 10px;

   }
   .inter-font{
    font-family: inter;
    font-size: 2rem;
    padding: 10px;
    padding-bottom: 10px;
    font-weight: bold;
   }
   .location-card > h4{
    font-size: 2rem;
    font-weight: 200;
   }
   .location-card > p{
    font-size: 2rem;
    padding: 15px;
   }
 
.font-futurak-1{
    font-family: futurak;
    font-size: 4rem;
    margin-bottom: 10px;
}
.location-card > h4{
    font-size: 1.8rem;
    margin-top: 6px;
}

    
.location-cards-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
   /* location card ended */
